{
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": "airbnb-base",
  "plugins": ["promise"],
  "rules": {
    "no-param-reassign": [1, {
      "ignorePropertyModificationsFor": ["transport"]
    }]
  }
}